# Arbitrage in the Crypto Exchange Market

In [187]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import time

## Use https://www.coinapi.io/ APIs (trial version for now)

In [ ]:
API_Key = '87EF7C63-192A-4D5A-AF67-FCD8386A4168'

### Metadata

In [195]:
# List all periods

url = 'https://rest.coinapi.io/v1/ohlcv/periods'
headers = {'X-CoinAPI-Key' : API_Key}
all_periods = requests.get(url, headers=headers)

In [233]:
pd.DataFrame(all_periods.json())

   display_name  length_months  length_seconds period_id  unit_count unit_name
0      1 Second              0               1      1SEC           1    second
1     2 Seconds              0               2      2SEC           2    second
2     3 Seconds              0               3      3SEC           3    second
3     4 Seconds              0               4      4SEC           4    second
4     5 Seconds              0               5      5SEC           5    second
5     6 Seconds              0               6      6SEC           6    second
6    10 Seconds              0              10     10SEC          10    second
7    15 Seconds              0              15     15SEC          15    second
8    20 Seconds              0              20     20SEC          20    second
9    30 Seconds              0              30     30SEC          30    second
10     1 Minute              0              60      1MIN           1    minute
11    2 Minutes              0             120      2MIN           2    minute
12    3 Minutes              0             180      3MIN           3    minute
13    4 Minutes              0             240      4MIN           4    minute
14    5 Minutes              0             300      5MIN           5    minute
15    6 Minutes              0             360      6MIN           6    minute
16   10 Minutes              0             600     10MIN          10    minute
17   15 Minutes              0             900     15MIN          15    minute
18   20 Minutes              0            1200     20MIN          20    minute
19   30 Minutes              0            1800     30MIN          30    minute
20       1 Hour              0            3600      1HRS           1      hour
21      2 Hours              0            7200      2HRS           2      hour
22      3 Hours              0           10800      3HRS           3      hour
23      4 Hours              0           14400      4HRS           4      hour
24      6 Hours              0           21600      6HRS           6      hour
25      8 Hours              0           28800      8HRS           8      hour
26     12 Hours              0           43200     12HRS          12      hour
27        1 Day              0           86400      1DAY           1       day
28       2 Days              0          172800      2DAY           2       day
29       3 Days              0          259200      3DAY           3       day
30       5 Days              0          432000      5DAY           5       day
31       7 Days              0          604800      7DAY           7       day
32      10 Days              0          864000     10DAY          10       day
33      1 Month              1               0      1MTH           1     month
34     2 Months              2               0      2MTH           2     month
35     3 Months              3               0      3MTH           3     month
36     4 Months              4               0      4MTH           4     month
37     6 Months              6               0      6MTH           6     month
38       1 Year             12               0      1YRS           1      year
39      2 Years             24               0      2YRS           2      year
40      3 Years             36               0      3YRS           3      year
41      4 Years             48               0      4YRS           4      year
42      5 Years             60               0      5YRS           5      year

In [196]:
# List all symbols

url = 'https://rest.coinapi.io/v1/symbols'
headers = {'X-CoinAPI-Key' : API_Key'}
all_symbols = requests.get(url, headers=headers)

In [253]:
df = pd.DataFrame(all_symbols.json())[['symbol_id', 'asset_id_base','asset_id_quote']]

In [321]:
# selected by BTC/USDT pair

df.loc[df['asset_id_base']== 'BTC'].loc[df['asset_id_quote']== 'USDT']

                     symbol_id asset_id_base asset_id_quote
12       BINANCE_SPOT_BTC_USDT           BTC           USDT
23      POLONIEX_SPOT_BTC_USDT           BTC           USDT
58       BITTREX_SPOT_BTC_USDT           BTC           USDT
70      HUOBIPRO_SPOT_BTC_USDT           BTC           USDT
108       HITBTC_SPOT_BTC_USDT           BTC           USDT
148         OKEX_SPOT_BTC_USDT           BTC           USDT
292        LIQUI_SPOT_BTC_USDT           BTC           USDT
410    CRYPTOPIA_SPOT_BTC_USDT           BTC           USDT
587       GATEIO_SPOT_BTC_USDT           BTC           USDT
1252        EXMO_SPOT_BTC_USDT           BTC           USDT
1445      KUCOIN_SPOT_BTC_USDT           BTC           USDT
1783       TIDEX_SPOT_BTC_USDT           BTC           USDT
20602  BRAZILIEX_SPOT_BTC_USDT           BTC           USDT
20677  BLEUTRADE_SPOT_BTC_USDT           BTC           USDT
21751        DSX_SPOT_BTC_USDT           BTC           USDT
22195      WEXNZ_SPOT_BTC_USDT           BTC           USDT
22643        ACX_SPOT_BTC_USDT           BTC           USDT
23124      UPBIT_SPOT_BTC_USDT           BTC           USDT
23166    BITLISH_SPOT_BTC_USDT           BTC           USDT
25566       BITZ_SPOT_BTC_USDT           BTC           USDT
26195   BITFOREX_SPOT_BTC_USDT           BTC           USDT
26799        EXX_SPOT_BTC_USDT           BTC           USDT

### I chose the top 2 cryptocurrency exchanges by volume: **Binance** & **OKEx**
ranked by https://coinmarketcap.com/rankings/exchanges/

### Get Binance historical price

In [237]:
url = 'https://rest.coinapi.io/v1/ohlcv/BINANCE_SPOT_BTC_USDT/history?period_id=1HRS&time_start=2018-10-20T00:00:00'
headers = {'X-CoinAPI-Key' : API_Key}
hist_data = requests.get(url, headers=headers)

In [309]:
binance_price_detail = pd.DataFrame(hist_data.json())

In [311]:
binance_price_detail['time_period_start'] = pd.to_datetime(binance_price_detail.time_period_start).dt.strftime('%Y/%m/%d %H')

In [312]:
binance_price_detail[['time_period_start','price_close']].head(5)

  time_period_start  price_close
0     2018/10/20 00      6518.06
1     2018/10/20 01      6545.23
2     2018/10/20 02      6537.20
3     2018/10/20 03      6543.05
4     2018/10/20 04      6549.11

In [313]:
binance_price = pd.Series(binance_price_detail['price_close'].values, index=okex_price_detail['time_period_start'])

### Get OKEx historical price

In [258]:
url = 'https://rest.coinapi.io/v1/ohlcv/OKEX_SPOT_BTC_USDT/history?period_id=1HRS&time_start=2018-10-20T00:00:00'
headers = {'X-CoinAPI-Key' : API_Key}
ok_hist_data = requests.get(url, headers=headers)

In [294]:
okex_price_detail = pd.DataFrame(ok_hist_data.json())

In [296]:
okex_price_detail['time_period_start'] = pd.to_datetime(okex_price_detail.time_period_start).dt.strftime('%Y/%m/%d %H')

In [298]:
okex_price_detail[['time_period_start','price_close']].head(5)

  time_period_start  price_close
0     2018/10/20 00    6515.0285
1     2018/10/20 01    6543.0000
2     2018/10/20 02    6536.1210
3     2018/10/20 03    6540.3929
4     2018/10/20 04    6544.2286

In [306]:
okex_price = pd.Series(okex_price_detail['price_close'].values, index=okex_price_detail['time_period_start'])

### Pick the data I need (**start time** and **close price**) and combine them into a pandas DataFrame.

In [ ]:
dictionary = {
    'binance':binance_price,
    'okex':okex_price
}

price = pd.DataFrame(dictionary)

borrows on Binance and lends on OKEx<br>
profitable if ratio > 0 (neglect transaction fee)

In [319]:
price['ratio'] = price.okex / price.binance

In [320]:
price

                   binance       okex     ratio
time_period_start
2018/10/20 00      6518.06  6515.0285  0.999535
2018/10/20 01      6545.23  6543.0000  0.999659
2018/10/20 02      6537.20  6536.1210  0.999835
2018/10/20 03      6543.05  6540.3929  0.999594
2018/10/20 04      6549.11  6544.2286  0.999255
2018/10/20 05      6551.48  6547.5900  0.999406
2018/10/20 06      6591.00  6591.9505  1.000144
2018/10/20 07      6576.43  6574.2838  0.999674
2018/10/20 08      6573.97  6573.9966  1.000004
2018/10/20 09      6580.03  6575.3614  0.999290
2018/10/20 10      6573.58  6573.1242  0.999931
2018/10/20 11      6597.78  6594.1147  0.999444
2018/10/20 12      6592.50  6586.1468  0.999036
2018/10/20 13      6608.01  6603.9199  0.999381
2018/10/20 14      6589.69  6587.4397  0.999659
2018/10/20 15      6573.13  6574.8234  1.000258
2018/10/20 16      6573.01  6574.0000  1.000151
2018/10/20 17      6579.54  6580.8055  1.000192
2018/10/20 18      6565.15  6565.5809  1.000066
2018/10/20 19      6582.16  6577.8347  0.999343
2018/10/20 20      6589.38  6587.6501  0.999737
2018/10/20 21      6588.69  6584.7729  0.999405
2018/10/20 22      6590.01  6591.7987  1.000271
2018/10/20 23      6588.40  6585.5861  0.999573
2018/10/21 00      6597.00  6593.9971  0.999545
2018/10/21 01      6622.01  6625.9599  1.000596
2018/10/21 02      6622.73  6624.0011  1.000192
2018/10/21 03      6616.62  6615.6540  0.999854
2018/10/21 04      6618.42  6618.8567  1.000066
2018/10/21 05      6617.01  6614.0000  0.999545
2018/10/21 06      6613.57  6610.0000  0.999460
2018/10/21 07      6620.52  6616.6001  0.999408
2018/10/21 08      6621.99  6619.1723  0.999574
2018/10/21 09      6627.61  6626.2175  0.999790
2018/10/21 10      6636.00  6636.6244  1.000094
2018/10/21 11      6625.42  6619.1366  0.999052